<h2>Ablums and Songs</h2>

<h4>1-n Example</h4>

<ul>
  <% @albums.each do |album| %>
    <li>
      <%= link_to album_path(album) do %>
        <strong>Album:</strong>
        <%= album.title %>
      <% end %>
      <%= render "songs", { songs: album.songs } %>
    </li>
  <% end %>
</ul>

<%= link_to "New Album", new_album_path, class: 'btn' %>
