<h2>Ablums and Songs</h2>

<h4>1-n Example</h4>

<h3><%= @album.title %></h3>

<% if @album.songs.any? %>
  <h4>Songs: </h4>
  <%= render "songs", { songs: @album.songs } %>
<% end %>

<br />

<%= link_to "Edit Album", edit_album_path(@album), class: 'btn'  %>
<br />
<%= link_to "Back to Albums", albums_path, class: 'btn'  %>
